.ku-free-grid-animation-listener {
	.slideIn {
		transform: scale(0) translateY(500px) translateX(500px);
	}
	&.ku-free-grid-animation-active {
		.slideIn {
			transition: transform 1.2s cubic-bezier(0.14, 1, 0.34, 1);
			transform: scale(1) translateY(0px) translateX(0px);
		}
	}

	.slideInRight {
		transform: translate3d(250%, 0, 0);
	}
	&.ku-free-grid-animation-active {
		.slideInRight {
			transition: transform 1.2s cubic-bezier(0.14, 1, 0.34, 1);
			transform: translate3d(0, 0, 0);
		}
	}

	.slideUp {
		transition: transform 1.2s cubic-bezier(0.14, 1, 0.34, 1);
		transform: translate3d(0, 100vh, 0);
	}
	&.ku-free-grid-animation-active {
		.slideUp {
			transform: translate3d(0, 0, 0);
		}
	}
	&.ku-free-grid-animation-active-over {
		.slideUp {
			transform: translate3d(0, -100vh, 0);
		}
	}

	.fadeIn {
		transition: opacity 1.2s ease-in;
		opacity: 0;
	}
	&.ku-free-grid-animation-active {
		.fadeIn {
			opacity: 1;
		}
	}

	.slideInLeft {
		transform: translate3d(-250%, 0, 0);
	}
	&.ku-free-grid-animation-active {
		.slideInLeft {
			transition: transform 1.2s cubic-bezier(0.14, 1, 0.34, 1);
			transform: translate3d(0, 0, 0);
		}
	}
}
