// .editor-post-preview {
//   display: none !important;
// }

.DayPicker_weekHeader_ul_1 {
  padding: 0 0 0 5px !important;
}

.DayPicker_weekHeader_li_1 {
  width: 28px !important;
}

.DayPicker_weekHeader_1 {
  max-height: 25px !important;
}

.date {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
