@import "./animations/animations";

.ku-free-grid-item {
	width: 100%;
	align-self: start;
	position: relative;
}
.ku-free-grid-item-inner {
	top: 0;
	position: absolute;
	background-repeat: no-repeat;
	width: 100%;
}

.ku-free-grid-item::after {
	content: "";
	display: table;
	clear: both;
}

.ku-free-grid-item::before {
	content: "";
	width: 1px;
	margin-left: -1px;
	float: left;
	height: 0;
}
.ku-free-grid-item-inner::after {
	content: "";
	display: table;
	clear: both;
}

.ku-free-grid-item-inner::before {
	content: "";
	width: 1px;
	margin-left: -1px;
	float: left;
	height: 0;
}

.ku-free-grid-item {
	.ku-free-grid-item-overlay-box {
		// position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		opacity: 0;
		transition: opacity 0.2s;
	}

	.ku-free-grid-item-overlay-box:hover {
		background-color: rgba(255, 255, 255, 0.5);
		opacity: 1;
		transition: opacity 0.2s;
	}
}
