@import "./animations/animations";

.ku-free-grid-item {
  position: relative;
  // margin: 0 40px 40px 0; /*margin: 0 gap gap 0;  */
  align-self: start;
  -ms-grid-row-align: start;
}

.ku-free-grid-item::before {
  content: "";
  width: 1px;
  margin-left: -1px;
  float: left;
  height: 0;
  padding-top: 60%;
}
.ku-free-grid-item::after {
  content: "";
  display: table;
  clear: both;
}

.ku-free-grid-item-background {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  z-index: -1;
}

.ku-free-grid-item-content {
  width: 100%;
  z-index: 1;
}
