.preview {
	background-color: #d3d3d3;
	float: none;
}

.text-input {
	border-style: solid;
	border-radius: 1em;
	border-width: thin;
	padding: 10px;
	margin: 5px;
}

.amh-readmore-wrap {
	border: red solid 1px;
	.amh-readmore-items {
		border: red solid 1px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.amh-readmore-item {
			width: 100%;
			border: red solid 1px;
			display: flex;
			justify-content: space-around;
			align-items: center;

			.amh-readmore-item-arrow {
				&.amh-readmore-item-arrow-active {
					transform: rotate(90deg);
				}
			}
		}
	}
}
