.amh-readmore-wrap {
	border: black solid 1px;
	border-bottom: unset;
	margin-bottom: 20px;

	.amh-readmore-item-head {
		padding: 10px;
	}
	.amh-readmore-items {
		border-top: black solid 1px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: nowrap;
		@media (max-width: 600px) {
			flex-wrap: wrap;
		}

		.amh-readmore-item {
			@media (max-width: 600px) {
				border-right: none;
			}
			padding: 0 20px;
			width: 100%;
			border-right: black solid 1px;
			border-bottom: black solid 1px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			.amh-readmore-item-text {
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 50%;
				h5 {
					margin: 0;
				}
			}

			.amh-readmore-item-arrow {
				display: flex;
				justify-content: space-around;
				align-items: center;
				border: black solid 1px;
				height: 40px;
				width: 40px;
				border-radius: 50%;
				margin: 10px auto;
				* {
					pointer-events: none;
				}
				transition: transform 0.25s;
				&.amh-readmore-item-arrow-active {
					background-color: rgb(37, 37, 37);

					transform: rotate(90deg);
					svg {
						fill: white;
					}
				}
			}
		}

		.amh-readmore-item:last-child {
			border-right: unset;
		}
	}
}
.amh-readmore-items-subContent {
	.amh-readmore-subContent {
		padding: 0 10px;
		max-height: 0px;
		overflow: hidden;
		transition: all 0.25s ease;
		* {
			font-size: 0;
			line-height: 0px;
			opacity: 0;
			transition: all 0.25s ease;
		}
		&.amh-readmore-subContent-active {
			border-bottom: black solid 1px;
			transition: all 0.25s ease;
			max-height: fit-content;
			* {
				font-size: 1rem;
				line-height: inherit;
				opacity: inherit;
				transition: all 0.25s ease;
			}
		}
	}
}
